.guessing-field {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
  width: 100%;
}

.text-field {
  width: 100%;
  padding: 12px 50px 12px 16px;
  /* extra space for button */
  border: 1px solid #e1e5e9;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  transition: box-shadow 0.2s, transform 0.2s;
}

.text-field:focus {
  outline: none;
  /* remove iOS/Android default glow */
  box-shadow: none;
  /* remove extra focus halo */
  border-color: #e1e5e9;

  box-shadow: 0 0 0 1px #ffffff;
  /* simulate extra 1px focus ring */
}

/* WRONG GUESS */
.text-field.wrong {
  animation: shake 0.5s ease;
  border-color: #ce2527;
  box-shadow: 0 0 0 2px #ce2527;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

.text-field::placeholder {
  color: #9ca3af;
}

.guessing-field button {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);

  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 0.5s ease;
}

.guessing-field button svg {
  width: 20px;
  height: 20px;
}