.guessing-field {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
  width: 100%;
}

@media screen and (width > 500px) {
  .guessing-field {
    width: 300px;
  }
}

.text-field {
  width: 100%;
  padding: 12px 50px 12px 16px;
  /* Extra right padding for button */
  border: 1px solid #e1e5e9;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.text-field:focus {
  border-color: #ffffff;
}

.text-field::placeholder {
  color: #9ca3af;
}

.guessing-field button {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);

  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 0.5s ease;
}

.guessing-field button svg {
  width: 20px;
  height: 20px;
}