#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 2.5rem; /* Space for footer */
}